# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.sample

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/vcs.xml
/.idea/dictionaries/garyl.xml
/.idea/jsLibraryMappings.xml
/.idea/sqldialects.xml
/.env.production
/xlsx/2023-Data-FWCCN.csv
/xlsx/2018-23 FWCCN data.xlsx
/xlsx/model2023.js
/xlsx/transformedData2023.json
/xlsx/transformedData2022.json
/xlsx/2022-Data-FWCCN.xlsx
/xlsx/2021-Data-FWCCN.xlsx
/xlsx/transformedData2021.json
/xlsx/fwccn.2021.applicants.json
/xlsx/2020-Data-FWCCN.xlsx
/xlsx/transformedData2020.json
/xlsx/2023-Data-FWCCN.xlsx
/xlsx/2018-2019-Data-FWCCN.xlsx
