.inputWrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    min-width: 50%;
    background-color: lightgray;
    border-radius: 15px;


}

.inputWrapper input {
    color: black;
    min-width: 50%;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-color: black;
    border-width: 1px;
}

.inputWrapper textarea {
    border-width: 1px;
    border-color: black;
}

.inputWrapper select {
    border-width: 1px;
    border-color: black;
}

.submitButton {
    width: 100%;
    text-align:center;
    border-width: 2px;
    border-color: darkgreen;
    border-radius: 5px;
    background: green;
    margin-top: 4px;
    font-weight:bold;
    color: white;
}

.inputWrapper h1 {
    text-align: center;
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formResult {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* adjust the value as needed */
}

.addRemoveContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.addRemoveHeader {
    margin: 0;
    padding: 0;
}

.removeButton {
    margin-left: auto;
    font-weight: bold;
    padding: 4px;
    color:white;
    background: red;
    border-width: 1px;
    border-color: red;
    @apply rounded;
}

.removeButton:hover {
    margin-left: auto;
    font-weight: bold;
    padding: 4px;
    color: red;
    background: lightcoral;
    border-width: 1px;
    border-color: red;
    @apply rounded;
}

.addButton {
    width: 100%;
    background: green;
    color: white;
    font-weight: bold;
    border-width: 1px;
    border-color: green;
    padding:4px;
    @apply rounded

}

.addButton:hover {
    width: 100%;
    background: lightgreen;
    color: green;
    border-width: 1px;
    border-color: green
}




